---
import '@fontsource-variable/onest';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Introduction from '../components/Introduction.astro';
import Technologies from '../components/Technologies.astro';
import SocialMedia from '../components/SocialMedia.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Course from '../components/Course.astro';
import About from '../components/About.astro';
import Footer from '../components/Footer.astro';

---

<Layout 
	title="Portfolio de Iñaki Balenciaga - Desarrollador web en Donostia"
	description="Desarrollador web full stack en Donosti. Especializado en crear páginas web."
>
	<main class="flex flex-col items-center w-[1200px]">
		<Header></Header>
		<Introduction></Introduction>
<!--	<Technologies></Technologies> -->
		<Experience></Experience>
		<Projects />
<!--	<Course></Course> -->
		<About></About>		
		<Footer></Footer>
	</main>
</Layout>

<style>
	
</style>
