---
import AboutIcon from "./icons/AboutIcon.astro";
---
<section id="about" class="flex  gap-20 justify-center mb-36 ps-24 pe-24">
    <div class="justify-center">
        <h2 class="mb-10 flex flex-row justify-center items-center">
            <span class="text-6xl md:text-5xl ms-2 font-bold">Sobre mí</span>
        </h2>
        <article class="flex flex-col items-center justify-center gap-8 md:flex-row">
            <div class="lg:max-w-[600px]">
                <p class="text-4xl md:text-base font-normal text-left">¡Hola! Soy un <span class="text-sky-600 font-bold">desarrollador</span> de páginas web <span class="text-sky-600 font-bold">full stack</span> con 5 años de experiencia.</p><br/>
                <p class="text-4xl md:text-base font-normal text-left">Mi experiencia en el desarrollo frontend me permite crear tanto páginas utilizando tecnologías como <span class="text-sky-600 font-bold">HTML, CSS y JavaScript</span>, junto con frameworks modernos como <span class="text-sky-600 font-bold">Vue.js y Astro</span>.</p><br/>
                <p class="text-4xl md:text-base font-normal text-left">Por otro lado, en el desarrollo backend, tengo experiencia en la construcción de <span class="text-sky-600 font-bold">API REST</span>, la manipulación de bases de datos y la implementación de lógica de negocio utilizando tecnologías como <span class="text-sky-600 font-bold">PHP</span> con frameworks como <span class="text-sky-600 font-bold">Symfony</span> o <span class="text-sky-600 font-bold">Codeigniter</span>.</p><br/>
                <p class="text-4xl md:text-base font-normal text-left">Además de mis habilidades técnicas, también he trabajado como <span class="text-sky-600 font-bold">freelance</span>, lo que me ha brindado la oportunidad de colaborar con una variedad de clientes y proyectos, adaptándome a diferentes requerimientos y necesidades.</p>
            </div>
            <div class="flex flex-col">
                <img src="../../public/img/foto-perfil.jpg" alt="Iñaki Balenciaga profile" width="500" class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 ">
            </div>
        </article>
    </div>
</section>