---
const {date, title} = Astro.props;
---

<div class="text-base items-center p-3 font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
    <span>{date} - {title}</span>
</div>
