---
const {date, title} = Astro.props;
---

<article class="inline-flex items-center px-4 py-2 text-5xl md:text-sm font-medium  bg-gray-600 border border-gray-700 rounded-lg ">
    <span>{date} - {title}</span>
</article>
