---
import type { Code, Debug } from "astro:components"
import CourseItem from '../components/CourseItem.astro';
import CourseIcon from "./icons/Course.astro";

import { COURSES } from "../store/courseStore";
---

<div class="justify-center">
    <h2 class="mb-10 flex flex-row justify-center items-center">
        <CourseIcon class="size-12"></CourseIcon>
        <span class="text-6xl md:text-5xl ms-2 font-bold">Cursos</span>
    </h2>
        <div class="flex flex-wrap gap-5 justify-center">
            {
                COURSES.map(course => (
                <CourseItem  {... course}></CourseItem>
                ))
            }
        </div>
</div>
