---
import SocialMedia from "./SocialMedia.astro";
---



<footer class="rounded-lg shadow m-4 dark:bg-gray-800 text-center mb-10">
  <SocialMedia></SocialMedia>

</footer>


    

    <span></span>
</section>
