<header class="flex justify-center items-center mb-36 sticky top-0 bg-opacity-0 z-10">
    <nav class="flex flex-row gap-x-6  bg-gray-400 border-spacing-5 p-1 rounded-md">
        <a href="#experience" class="text-5xl md:text-sm text-gray-900 font-bold hover:scale-110 transition ">Experiencia</a>
        <a href="#courses" class="text-5xl md:text-sm text-gray-900 font-bold hover:scale-110 transition">Cursos</a>
        <a href="#about" class="text-5xl md:text-sm text-gray-900 font-bold hover:scale-110 transition">Sobre mi</a>
        <a href="mailto:ibalenciaga@gmail.com" class="text-5xl md:text-sm text-gray-900 font-bold hover:scale-110 transition">Contacto</a>
    </nav>
</header>

<style>

</style>