<header class="flex justify-center items-center mb-36 sticky top-6 bg-opacity-0 z-10">
    <nav class="flex flex-row gap-x-6 bg-sky-600 border-spacing-5 p-1 rounded-md">
        <a href="#experience" class="text-5xl md:text-sm py-2 px-4 font-bold hover:scale-110 transition ">Experiencia</a>
        <a href="#courses" class="text-5xl md:text-sm py-2 px-4 font-bold hover:scale-110 transition">Cursos</a>
        <a href="#about" class="text-5xl md:text-sm py-2 px-4 font-bold hover:scale-110 transition">Sobre mí</a>
        <a href="mailto:ibalenciaga@gmail.com" class="text-5xl md:text-sm py-2 px-4 font-bold hover:scale-110 transition">Enviar email</a>
    </nav>
</header>

<style>

  </style>