<div class=" flex items-center justify-center mb-5">
    <h1><span class="text-5xl md:text-3xl mb-5">Hola, soy</span><br> 
        <span class="text-9xl md:text-7xl text-red-400 font-bold ms-3 ">Iñaki Balenciaga</span></h1>
</div>
<h2 class="mb-5">
    <span class="text-6xl md:text-5xl text-sky-400 d-block font-bold me-3">Desarollador Full Stack</span>
</h2>
<div class=" flex items-center justify-center mb-5">
    <!--<img src="/public/img/foto-perfil-recortada.jpg" alt="profile image" class="rounded-full size-16 me-3"/>-->
</div>
