---
import SocialMedia from "../components/SocialMedia.astro"
---
<section class="mb-36 ps-24 pe-24">
    <div class=" flex flex-col md:flex-row mb-5">
        <div class="flex self-center">
            <img class="rounded-full size-48  " src="../../public/img/foto-perfil-recortada.jpg" alt="Iñaki Balenciaga"> 
        </div>
        <div class="flex-col align-middle ms-8 ps-8>">
            <span class="text-4xl md:text-5xl mb-5">Hola, soy</span>
            <h1 class="text-7xl md:text-6xl font-bold ">Iñaki Balenciaga</h1>
            <h2 class="text-5xl md:text-3xl text-sky-600 d-block font-bold mb-6">Desarrollador Full Stack</h2>
            <SocialMedia></SocialMedia>
        </div>
    </div>
</section>
