---
import CodeIcon from './icons/Code.astro';
import AstroIcon from '../components/icons/Astro.astro';
import GitIcon from '../components/icons/Git.astro';
import MysqlIcon from '../components/icons/Mysql.astro';
import PhpIcon from '../components/icons/Php.astro';
import SymfonyIcon from '../components/icons/Symfony.astro';
import TailwindIcon from '../components/icons/Tailwind.astro';
import VuejsIcon from '../components/icons/Vuejs.astro';
import Html5Icon from '../components/icons/Html5.astro';
import Css3Icon from '../components/icons/Css3.astro';
import JavascriptIcon from '../components/icons/Javascript.astro';

---
<div class="justify-center">
    <h2 class="mb-10 flex flex-row justify-center items-center">
        <CodeIcon class="size-12"></CodeIcon>
        <span class="text-6xl md:text-5xl ms-2 font-bold">Tecnologías</span>
    </h2>
    <div class="flex flex-row gap-10">
        <PhpIcon class="size-50"></PhpIcon>
        <SymfonyIcon class="size-50"></SymfonyIcon>
        <MysqlIcon class="size-50"></MysqlIcon>
        <Html5Icon class="size-50"></Html5Icon>
        <Css3Icon class="size-50"></Css3Icon>
        <JavascriptIcon class="size-50"></JavascriptIcon>
        <VuejsIcon class="size-50"></VuejsIcon>
        <AstroIcon class="size-50"></AstroIcon>
        <TailwindIcon class="size-50"></TailwindIcon>
        <GitIcon class="size-50"></GitIcon>
    </div>
</div>
