---
import CodeIcon from './icons/CodeIcon.astro';
import AstroIcon from './icons/AstroIcon.astro';
import GitIcon from './icons/GitIcon.astro';
import MysqlIcon from './icons/MysqlIcon.astro';
import PhpIcon from './icons/PhpIcon.astro';
import SymfonyIcon from './icons/SymfonyIcon.astro';
import TailwindIcon from './icons/TailwindIcon.astro';
import VuejsIcon from './icons/VuejsIcon.astro';
import HtmlIcon from './icons/HtmlIcon.astro';
import CssIcon from './icons/CssIcon.astro';
import JavascriptIcon from './icons/JavascriptIcon.astro';
import IconCard from './cards/IconCard.astro';
---
<section class="flex gap-20 justify-center mb-36 ps-24 pe-24">
    <div class="justify-center">
        <h2 class="mb-10 flex flex-row justify-center items-center">
            <span class="text-6xl md:text-5xl ms-2 font-bold">Tecnologías</span>
        </h2>
        <div class="flex flex-row flex-wrap justify-center gap-10 max-w-[600px]">
            <IconCard title="PHP"> 
                <PhpIcon slot="icon"/>
            </IconCard>
            <IconCard title="Symfony"> 
                <SymfonyIcon name="icon"/>
            </IconCard>
            <IconCard title="MySql"> 
                <MysqlIcon name="icon"/>
            </IconCard>
            <IconCard title="HTML5"> 
                <HtmlIcon name="icon"/>
            </IconCard>
            <IconCard title="CSS3"> 
                <CssIcon name="icon"/>
            </IconCard>
            <IconCard title="Javascript"> 
                <JavascriptIcon name="icon"/>
            </IconCard>
            <IconCard title="VueJs"> 
                <VuejsIcon name="icon"/>
            </IconCard>
            <IconCard title="Astro"> 
                <AstroIcon name="icon"/>
            </IconCard>
            <IconCard title="Tailwind"> 
                <TailwindIcon name="icon"/>
            </IconCard>
            <IconCard title="Git"> 
                <GitIcon name="icon"/>
            </IconCard>
        </div>
    </div>
</section>