---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<!-- Google Analytics tag (gtag.js) -->
		<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-TYGQESC95X"></script>
		<script type="text/partytown">
  			window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments);}
  			gtag('js', new Date());

 			 gtag('config', 'G-TYGQESC95X');
		</script>
		<!-- Google Analytics tag (gtag.js) -->
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="keywords" content="iñaki balenciaga bueno, ibalenciaga, portfolio, desarrollo web, backend, frontend, full stack, html5, css3, javascript, jquery, php, symfony, vuejs, astro, mysql, git, wordpress">
		<meta name="author" content="Iñaki Balenciaga Bueno">
		<meta name="robots" content="index" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png+xml" href="../../public/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]">
		<slot />
	</body>
</html>
<style is:global>
	:root{
		color-scheme: ligth dark;
	}
	html {
  scroll-behavior: smooth;
}
	body{
    	font-family: 'Onest Variable', sans-serif;
	}
	main {
		margin: auto;
		padding: 1rem;
		font-size: 20px;
		line-height: 1.6;
		text-align: center;
		justify-content: center;
		align-items: center;
	}
</style>
